<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleExecutable</key>
    <string>ChatOSSwift</string>
    <key>CFBundleIdentifier</key>
    <string>com.chatos.swift-client</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>ChatOS</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Text and Source Code</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.text</string>
                <string>public.source-code</string>
                <string>public.script</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Image</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.image</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Pet File Desk Preview</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>ascx</string>
                <string>asm</string>
                <string>asp</string>
                <string>aspx</string>
                <string>astro</string>
                <string>bash</string>
                <string>bash_login</string>
                <string>bash_logout</string>
                <string>bash_profile</string>
                <string>bashrc</string>
                <string>bat</string>
                <string>bazel</string>
                <string>bib</string>
                <string>bowerrc</string>
                <string>browserslistrc</string>
                <string>buck</string>
                <string>bzl</string>
                <string>c</string>
                <string>c++</string>
                <string>cc</string>
                <string>cfg</string>
                <string>cjs</string>
                <string>clj</string>
                <string>cljs</string>
                <string>cljx</string>
                <string>clojure</string>
                <string>cls</string>
                <string>cmake</string>
                <string>cmd</string>
                <string>cnf</string>
                <string>code-workspace</string>
                <string>coffee</string>
                <string>conf</string>
                <string>config</string>
                <string>containerfile</string>
                <string>cpp</string>
                <string>cs</string>
                <string>cshtml</string>
                <string>csproj</string>
                <string>css</string>
                <string>csv</string>
                <string>csx</string>
                <string>ctp</string>
                <string>cue</string>
                <string>cxx</string>
                <string>dart</string>
                <string>dhall</string>
                <string>diff</string>
                <string>dockerfile</string>
                <string>dockerignore</string>
                <string>dot</string>
                <string>dtd</string>
                <string>editorconfig</string>
                <string>edn</string>
                <string>entitlements</string>
                <string>env</string>
                <string>erb</string>
                <string>erl</string>
                <string>ex</string>
                <string>exs</string>
                <string>eyaml</string>
                <string>eyml</string>
                <string>fish</string>
                <string>fs</string>
                <string>fsi</string>
                <string>fsscript</string>
                <string>fsx</string>
                <string>gemfile</string>
                <string>gemspec</string>
                <string>gitattributes</string>
                <string>gitconfig</string>
                <string>gitignore</string>
                <string>gitmodules</string>
                <string>go</string>
                <string>gql</string>
                <string>gradle</string>
                <string>graphql</string>
                <string>graphqls</string>
                <string>groovy</string>
                <string>h</string>
                <string>h++</string>
                <string>handlebars</string>
                <string>hbs</string>
                <string>hcl</string>
                <string>hh</string>
                <string>hpp</string>
                <string>hrl</string>
                <string>hs</string>
                <string>htaccess</string>
                <string>htm</string>
                <string>html</string>
                <string>http</string>
                <string>hxx</string>
                <string>ini</string>
                <string>ipynb</string>
                <string>jade</string>
                <string>jav</string>
                <string>java</string>
                <string>js</string>
                <string>jscsrc</string>
                <string>jshintrc</string>
                <string>jshtm</string>
                <string>json</string>
                <string>json5</string>
                <string>jsonc</string>
                <string>jsp</string>
                <string>jsx</string>
                <string>kt</string>
                <string>kts</string>
                <string>less</string>
                <string>lhs</string>
                <string>lock</string>
                <string>log</string>
                <string>lua</string>
                <string>m</string>
                <string>makefile</string>
                <string>markdown</string>
                <string>md</string>
                <string>mdoc</string>
                <string>mdown</string>
                <string>mdtext</string>
                <string>mdtxt</string>
                <string>mdwn</string>
                <string>mdx</string>
                <string>meson</string>
                <string>mjs</string>
                <string>mk</string>
                <string>mkd</string>
                <string>mkdn</string>
                <string>ml</string>
                <string>mli</string>
                <string>mm</string>
                <string>nim</string>
                <string>nix</string>
                <string>nomad</string>
                <string>npmignore</string>
                <string>npmrc</string>
                <string>pbxproj</string>
                <string>patch</string>
                <string>php</string>
                <string>phtml</string>
                <string>pl</string>
                <string>pl6</string>
                <string>plist</string>
                <string>pm</string>
                <string>pm6</string>
                <string>pod</string>
                <string>podspec</string>
                <string>pp</string>
                <string>prettierignore</string>
                <string>prettierrc</string>
                <string>profile</string>
                <string>properties</string>
                <string>proto</string>
                <string>ps1</string>
                <string>psd1</string>
                <string>psgi</string>
                <string>psm1</string>
                <string>pug</string>
                <string>py</string>
                <string>pyi</string>
                <string>r</string>
                <string>rake</string>
                <string>rb</string>
                <string>rest</string>
                <string>rhistory</string>
                <string>rprofile</string>
                <string>rs</string>
                <string>rst</string>
                <string>rt</string>
                <string>s</string>
                <string>sass</string>
                <string>scala</string>
                <string>sc</string>
                <string>scss</string>
                <string>sh</string>
                <string>shtml</string>
                <string>sol</string>
                <string>sql</string>
                <string>strings</string>
                <string>svelte</string>
                <string>svg</string>
                <string>swift</string>
                <string>t</string>
                <string>tex</string>
                <string>tf</string>
                <string>tfvars</string>
                <string>thrift</string>
                <string>toml</string>
                <string>ts</string>
                <string>tsx</string>
                <string>txt</string>
                <string>vb</string>
                <string>vue</string>
                <string>wxi</string>
                <string>wxl</string>
                <string>wxs</string>
                <string>xaml</string>
                <string>xcconfig</string>
                <string>xcodeproj</string>
                <string>xcworkspace</string>
                <string>xhtml</string>
                <string>xml</string>
                <string>yaml</string>
                <string>yarnrc</string>
                <string>yml</string>
                <string>zig</string>
                <string>zlogin</string>
                <string>zlogout</string>
                <string>zprofile</string>
                <string>zsh</string>
                <string>zshenv</string>
                <string>zshrc</string>
            </array>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>TEXT</string>
                <string>utxt</string>
                <string>TUTX</string>
                <string>****</string>
            </array>
        </dict>
    </array>
    <key>ChatOSAPIBaseURL</key>
    <string>https://gateway.jgoool.com/api/chatos</string>
    <key>ChatOSLocalConnectorCloudBaseURL</key>
    <string>https://connector.jgoool.com</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>在宠物中打开</string>
            </dict>
            <key>NSMessage</key>
            <string>openFilesInPet</string>
            <key>NSPortName</key>
            <string>ChatOS</string>
            <key>NSSendTypes</key>
            <array>
                <string>public.file-url</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
