# SPDX-License-Identifier: PolyForm-Noncommercial-1.0.0
# Required Notice: Copyright (c) 2025 AI Chat Team

USER_SERVICE_HOST=127.0.0.1
USER_SERVICE_PORT=39190
USER_SERVICE_INTERNAL_MTLS_PORT=39192
USER_SERVICE_MTLS_SERVER_CERT_PATH=../../.chatos-local-dev/user-service-mtls/server.crt
USER_SERVICE_MTLS_SERVER_KEY_PATH=../../.chatos-local-dev/user-service-mtls/server.key
USER_SERVICE_MTLS_CLIENT_CA_CERT_PATH=../../.chatos-local-dev/user-service-mtls/ca.crt
USER_SERVICE_MONGODB_DATABASE=user_service
USER_SERVICE_DATABASE_URL=mongodb://admin:admin@127.0.0.1:27018/user_service?authSource=admin
USER_SERVICE_START_DEV_MONGO=auto
USER_SERVICE_DEV_MONGO_HOST=127.0.0.1
USER_SERVICE_DEV_MONGO_PORT=27018
USER_SERVICE_DEV_MONGO_CONTAINER_NAME=chatos-dev-mongo
USER_SERVICE_JWT_SECRET=change_me_user_service_secret
USER_SERVICE_JWT_ISSUER=user_service
USER_SERVICE_USER_AUDIENCE=user_service
USER_SERVICE_TASK_RUNNER_AUDIENCE=task_runner
USER_SERVICE_USER_ACCESS_TTL_SECONDS=43200
USER_SERVICE_TASK_RUNNER_ACCESS_TTL_SECONDS=3600
# Shared bootstrap admin used by user_service, task_runner_service, and memory_engine sign-in.
CHATOS_ADMIN_USERNAME=admin
CHATOS_ADMIN_PASSWORD=admin123456
CHATOS_ADMIN_DISPLAY_NAME=System Admin
USER_SERVICE_SUPER_ADMIN_USERNAME=admin
USER_SERVICE_SUPER_ADMIN_PASSWORD=admin123456
USER_SERVICE_SUPER_ADMIN_DISPLAY_NAME=System Admin
USER_SERVICE_DOWNSTREAM_REQUEST_TIMEOUT_MS=5000
USER_SERVICE_MEMORY_ENGINE_INTERNAL_API_SECRET=change_me_user_service_memory_engine_secret
USER_SERVICE_TASK_RUNNER_BASE_URL=https://127.0.0.1:39092
USER_SERVICE_TASK_RUNNER_INTERNAL_API_SECRET=change_me_user_service_task_runner_secret
TASK_RUNNER_MTLS_CA_CERT_PATH=../../.chatos-local-dev/task-runner-mtls/ca.crt
TASK_RUNNER_MTLS_CLIENT_IDENTITY_PATH=../../.chatos-local-dev/task-runner-mtls/user-service.identity.pem
